body {
	height: 98dvh;
}

header {
	height: 10%;
}

main {
	height: 90%;
}

.form__question .card-number{
	padding: 5px ;

	margin-right: 5px;
}
.header {
	display: flex;
	align-items: center;
}

.header__container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 0;
}

/* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА */
.types-window {
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.types__title {
	margin: 0;
	padding: 0;
	font-size: 50px;
	margin-bottom: 50px;
}

.types-btns{
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.btn {
	border: none;
	color: #F9F9F9;
	font-size: 30px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #ABC8E6;

	transition: all 500ms ease;
}

.btn:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
	cursor: pointer;
}

/* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА *//* ВЫБОР ТИПА ВОПРОСА */

#creation {
	height: 100%;
}

.creation__container {
	border: 2px solid #151515;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;

	/* background-color: #000; */
	/* height: fit-content; */
	/* position: relative; */

	width: 98%;
	height: 100%;
	margin: 0 auto;
	/* background-color: #9FDBC9; */
	
}

.creation__menu-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-creation-form {
	width: 100%;
	height: 100%;
}

.creation__cards {
	/* width: 350px; */
	height: 100%;
	border-start-start-radius: 17px;
	border-bottom-left-radius: 17px;
	border-radius: 18px;

	/* border-right: 2px solid #151515; */

	background-color: #ABC8E6;
	box-sizing:border-box;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.cards-menu__title {
	margin: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
}

.cards-menu__title__text {
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: #f9f9f9;
	font-weight: bold;
}

.cards-menu {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow:auto;
}

.cards-menu__slide{
	cursor: pointer;

	background-color: #f9f9f9;
	background-origin:padding-box;

	/* border: 1px solid #41557D; */
	border-radius: 16px;
	width: 95%;
	min-height: 60px;
	max-height: 60px;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	align-items: center;
}
.cards-menu__slide.active {
	border: 3px solid #151515;
}


.cards-menu__slide:not(:last-child) {
	margin-bottom: 10px;
}

/* скролл для карточек *//* скролл для карточек *//* скролл для карточек *//* скролл для карточек *//* скролл для карточек */
.slides-overflow {
	overflow-y: scroll;
	scroll-padding-left: 20px;
}
/* скролл для карточек *//* скролл для карточек *//* скролл для карточек *//* скролл для карточек *//* скролл для карточек */

.card-number {
	margin: 0;
	margin-right: 5px;
	min-width: max-content;
	max-width: max-content;
	box-sizing: content-box;
	padding: 5px 5px 2px 5px;
	border: 1px solid #151515;
	/* border-right: 1px solid #151515; */
	border-radius: 5px;
	/* height: 100%; */
}

.card-title {
	margin: 0;
	width: 100%;
	padding-right: 10px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.card-delete-btn {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	cursor:grab; 

	background-image: url('../img/trash-2.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.create-card {
	margin-top: 20px;
	display: flex;
	align-items: center;
	height: 10%;
	justify-content: center;
	border-top: 1px solid #151515;
}

.btn-create-card {
	height: 70%;
	width: 100%;
	background-color: #F9F9F9;
	border: 1px solid #151515;
	border-radius: 12px;
	
	cursor: pointer;

	color: #151515;

	transition: all 500ms ease;
}

.btn-create-card:hover {
	background: rgba(0,0,0,0);
	color: #151515;
}



.creation_form {
	height: 85%;
	/* max-height: 90%; */

	/* padding: 50px; */

	/* width: 100%; */
	display: flex;
	align-items: center;
	text-align:center;
	flex-direction: column;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
input::-webkit-input-placeholder {
	color: gray;
	}
	
	input:-moz-placeholder { /* Firefox 18- */
		color: gray;
	}
	
	input::-moz-placeholder { /* Firefox 19+ */
		color: gray;
	}
	
	input:-ms-input-placeholder {
		color: gray;
	}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */



.form__question {
	display: flex;
	align-items: center;

	border: none;
	border-bottom: 1px solid #151515;
	background-color: transparent;
	/* width: 100%; */
	height: 15%;

	padding: 20px;
	box-sizing: border-box;

	font-family: Comfortaa;
	font-size: 35px;

	text-align: left; 
	font-weight:800;

	/* margin-bottom: 30px; */
}

.input__question {
	border: none;
	background-color: transparent;
	color: #151515;
	width: 100%;
	height: 100%;
	/* height: 300px; */
	padding: 0;
	box-sizing: border-box;
	/* border-radius: 20px; */

	font-family: Comfortaa;
	font-size: 35px;

	text-align: left; 
	font-weight:800;

	white-space: wrap;
	overflow: hidden;
	text-overflow:clip;

	/* margin-bottom: 30px; */
}

.input__question:hover {

}

.input__question:focus {
	outline: none;
}

.input__question:active {
	outline: none;
}

.form__preview-image {
	height: 45%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preview {
	/* width: 55%; */
	height: 80%;
	background-color: #A5C8EC;
	border-radius: 20px;

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;

	/* margin-bottom: 20px; */
}

.preview__text {
	font-size: 30px;
	color: #f9f9f9;
	margin: 0;
	padding: 0;
	/* position: absolute; */
	color: black;
	/* height: 100%; */
	width: 600px;
	padding: 5px;
	/* display: ; */
}

.preview__image {
	height: 100%;
	min-width: 500px;
	max-width: 700px;
	background: #ABC8E6;
	/* background-image: url('../img/grid_0.png'); */
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	border: none;
	/* display: ; */
}



.input-image__block {
	display: flex;
	height: 20%;
	align-items: center;
}
.form__image {
	/* height: 20%; */
	/* margin-bottom: 55px; */
}

.options {
	/* width: 80%; */
	height:85%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.options-item {

	border: 1px solid #151515;
	border-radius: 20px;
	/* width: 800px; */
	height: 85%;
	background-color: transparent;

	color:#151515;
	font-size: 28px;

	box-sizing: border-box;
	padding: 0 15px;
	text-align: left;
}

.options-item:focus {
	outline: none;
}

.options__container {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.option {
	height: 22.5%;
	display: flex;
	align-items: center;


	
	/* justify-content: space-between; */
	justify-content: end;
	position: relative;



	box-sizing: border-box;
}
.option:not(:last-child) {
	/* margin-bottom: 2.5%; */
}

.option-one {
	/* background-color: #9FDBC9; */
}
.option-three {
	/* background-color: #F7DA84; */
}
.option-four {
	/* background-color: #A5C8EC; */
}
.option-two {
	/* background-color: #E29BB6; */
}


.option-cb {
	position: absolute;
	left: 0%;
	font-size: 0;
	margin: 0;
	padding: 0;


	/* width: 68px; */
	/* height: 100%; */
	/* max-width: 68px;
	max-height: 68px; */


	background-color: #F9F9F9;
	border: 1px solid #151515;
	border-radius: 50%;

  width: 10%;
  float: left;
  font-size: 5px;

	transition: all 500ms ease;
}

.option-cb:hover {
	cursor: pointer;
	background-color: #9faab7;
}

.option-cb:before {
  content: "";
  display: block;
  margin-top: 100%; 
	/* initial ratio of 1:1*/
}

.option-cb.active {
	box-shadow: inset 0 0 0 3px #151515;
}

.option-cb.active:hover {
	background-color: #F9F9F9;
}

.option-cb.active:after {
	content: "";
	display: block;
	width: 50%;
	height: 50%;
	background-color: #6AB1FB;
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
}


.box {
  position: relative;
  width: 20%;
  margin: 5% 5% 0 0;
  float: left;
  font-size: 12px;
}


/* Поле для ввода */
.finalWindow {
	z-index: 999;
	background: rgba(21, 21, 21, 0.9);
	height: 100dvh;
	width: 100%;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

}

.centered {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 90%;
	/* display: flex; */
	/* width: 500px;
	height: 200px;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
}

.quiz-title-input ::-moz-placeholder { color: rgba(249, 249, 249, 0.8); }
.quiz-title-input::-webkit-input-placeholder { color: rgba(249, 249, 249, 0.8); }
.quiz-title-input {
	text-align: center;
	width: 100%;
	height: 100px;
	font-size: 40px;
	color: #F9F9F9;

	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid #f9f9f9;
}

.quiz-title-btns{
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.btn-title-save {
	cursor: pointer;
	border: 2px solid #f9f9f9;
	border-radius: 10px;
	background-color: #6AB1FB;
	padding: 10px;

	transition: all 500ms ease;
}

.btn-title-save:hover {
	background-color: #3a7999;
}

.btn-title-save-text {
	color:#f9f9f9;
	font-size: 25px;
}


.btn-title-back {
	cursor: pointer;
	border: none;
	border-radius: 10px;
	background-color: #f9f9f9;
	padding: 10px;

	transition: all 500ms ease;
}

.btn-title-back:hover {
	background: #9faab7
}

.btn-title-back-text {
	color:#151515;
	font-size: 20px;
}


/*tf *//*tf *//*tf *//*tf *//*tf *//*tf *//*tf */
.tf-cb {
	font-size: 35px;
	height: 100px;
	background: none;
	border: 2px solid #151515;
	border-radius: 20px;

	transition: all 500ms ease;
}

.tf-cb:hover {
	cursor: pointer;
	background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 3px #151515;
}

.option .tf-cb.active {
	color: #f9f9f9;
	background: #A5C8EC;
	border: 1px solid #151515;
}

/* .option-one .tf-cb.active {
	color: #f9f9f9;
	background-color: green;
}

.option-two .tf-cb.active {
	background-color: red;
} */


.option-tf {
	justify-content: center;
}

.options-tf__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 50px;
}

/* //////////////////////// */



.option-selected {
	background-image: url('../img/cross.png');
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: center;
}

.creation__bottom-menu {
	width: 100%;
	/* background-color: #ABC8E6; */
	align-self: flex-end;
	height: 15%;
	/* text-align: center; */
	/* border-top: 2px solid#151515; */
	/* border-radius: 17px; */
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn__create__vict {
	/* width: max-content; */
	max-height: 100%;
	min-height: 30px; /* font-size + 2*/

	background-color: #6AB1FB;
	color: #f9f9f9;
	font-size: 28px;
	font-weight: bold;

	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 15px;
	border-radius: 17px;
	border: none;

	cursor: pointer;

	transition: all 500ms ease;
}

.btn__create__vict:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}


@media (min-width: 2400px) {
	body {
		margin: 0 auto;
		max-width: 2000px;
	}
}

@media (max-width: 991px) {
	.logo__text {
		font-size: 35px;
	}
}

@media (max-width: 767px) {
	/* .logo__text {
		font-size: 45px;
	} */
	.option-cb {
		width: 15%;
	}

	.input__question {
		font-size: 26px;
	}

	.options-item {
		font-size: 22px;
	}
}

@media (max-width: 575px) {
	.option-cb {
		width: 12%;
	}

	.form__question {
		padding: 5px;
	}
	
	.logo__text {
		text-align: center;
	}

	header {
		height: 5%;
	}
	
	main {
		height: 95%;
	}

	.option-cb {
		/* max-width: 7%; */
	}

	.creation_form {
		height: 80%;
	}

	.creation__bottom-menu {
		height: 20%;
	}

	.creation__menu-main {
		height: 70%;
	}

	.creation__cards {
		justify-content: start;
		height: 30%;
		flex-direction: column-reverse;
	}

	.cards-menu__title {
		display: none;
	}
	.create-card {
		height: 30%;
		width: 100%;
		margin-top: 0;
		margin-bottom: 5px;
		border: none;
		border-bottom: 1px solid #151515;
	}

	.btn-create-card {
		align-items: center;
		font-size: 22px;
	}

	.cards-menu {
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: auto;
		gap: 20px;
	}

	.cards-menu__slide {
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		min-height: 80%;
		max-height: 80%;
		/* height: 70%; */
		min-width: 150px;
		max-width: 150px;

		padding: 0;
		padding-top: 5px;
	}

	.cards-menu__slide:not(:last-child) {
		margin: 0;

	}



	/* КОРИЗНА */	/* КОРИЗНА */	/* КОРИЗНА */
	.cards-menu__slide.not-active .card-delete-btn {
		display: none;
	}

	.cards-menu__slide.active .card-delete-btn {
		display: flex;
		width: 100%;
		height: 300px;
		max-height: 100%;
		background-size: 45px 45px;
	}
	/* КОРИЗНА */	/* КОРИЗНА */	/* КОРИЗНА */

	/*Остальное*/	/*Остальное*/	/*Остальное*/	/*Остальное*/
	.cards-menu__slide.not-active .card-number {
		display: flex;
		font-size: 30px;
		font-weight: 600;
		border: none;
	}
	.cards-menu__slide.active .card-number {
		display: none;
	}

	.cards-menu__slide .card-title {
		display: none;
	}

	/*Остальное*/	/*Остальное*/	/*Остальное*/	/*Остальное*/


	.card-title {
		text-align: center;
		font-size: 20px;
		box-sizing: border-box;
		padding: 0 2px;
		/* display: none; */
	}

	.card-number {
		margin-right: 0;
		font-size: 20px;
	}

	.card-delete-btn {
		margin: 2px 0 ;
		background-size: contain;
		padding: 0;
		/* border-top: 1px solid #151515; */

		/* height: 100%; */
		/* width: 100%; */
		/* min-height: 20%;
		max-height: 20%; */
	}


}









@media (max-height: 730px) {
	.logo__text {
		font-size: 25px;
	}

	.form__question {
		padding: 5px;
	}

	.card-number {
		font-size: 25px;
	}
}

@media (max-height: 540px) {
	header {
		height: 5%;
	}
	
	main {
		height: 95%;
	}
	.site-nav {
		border:none;
	}

	.logo__text {
		font-size: 20px;
	}

	.nav-list {
		border: none;
		padding: 0;
	}

	.list-item-link {
		font-size: 18px;
	}

	.btn-create-card {
		font-size: 12px;
	}

	.card-title {
		display: none;
	}
}