main {
	min-height: 75dvh;
}

a {
  text-decoration: none;
}

body {
	background-color: #f9f9f9;
	font-family: "Comfortaa";
	font-weight: 400;
	color: #151515;
}

.container {
}



.extra__header__container .logo__text{
	/* color: #41557D; */
}

.header__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 20px;
	box-sizing: border-box;

	margin-bottom: 30px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo__text {
	margin:0;
	padding: 0;
	font-weight: bold;
	font-size: 60px;
	user-select: none;
	cursor: pointer;
}


.site-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-list {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
	/* gap: 30px; */
	border: 1px solid #151515;
	border-radius: 10px;
	padding: 5px 10px;
}


.nav-list-item {
	
}

.list-item-link{
	color: #151515;
	font-size: 28px;
	font-weight: 600;
}

.list-item-link:hover {
	color: #8a7f8e;
}

.list-item-link.active-page:hover {
	color: #6AB1FB;
	cursor: default;
}

.active-page {
	color: #6AB1FB;
	font-weight: 700;
}

/* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #41557D;
}

.footer__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

	row-gap: 20px;
	box-sizing: border-box;
}

.footer-logo .queez{
	color: #F9F9F9;
	margin: 0;
	padding: 0;
}

.footer-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: start;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.footer-nav-item {
	color: #CACACA;
	font-family: Montserrat;
	display: flex;
	justify-content: start;
}

.footer__item-link {
	height: 100%;
	color:#CACACA;
	font-size: 16px;
	line-height: 100%;
}

.footer__contact {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.contact-title {
	color: #F9F9F9;
	text-align: center;
	margin: 0;
	padding: 0;

	font-size: 20px;
}

.source {
	margin: 0;
	padding: 0;
	color: #A5C8EC;
	text-align: center;
}

.source__text {
	color:#A5C8EC;
	font-size: 18px;
}

@media (max-width: 991px) {
	.logo {
	}

	.site-nav {
		
	}

	.nav-list {
		height: 35px;
	}

	.footer-nav {
		/* row-gap: 0; */
	}
	

	.list-item-link{
		font-size: 25px;
	}

	.footer__item-link {
		font-size: 14px;
	}
	
	.contact-title {
		font-size: 15px;
	}

	.source__text {
		font-size: 16px;
	}
}


@media (max-width:768px) {
	.footer-logo .queez{
		text-align: center;
	}
	.footer-nav {
		row-gap: 5px;
	}

	.footer-nav-item {
		text-align: center;
		justify-content: center;
	}

	.list-item-link{
		font-size: 20px;
	}
}


@media (max-width:575px) {
	.footer-logo .queez{
		text-align: center;
	}
	.footer-nav {
		row-gap: 5px;
	}

	.footer-nav-item {
		text-align: center;
		justify-content: center;
	}


	.header__container {
		row-gap: 10px;
	}

	.nav-list {
		/* flex-direction: column; */
		/* height: min-content; */
		/* row-gap: 8px; */
	}

	.nav-list-item:nth-child(2){
		display: none;
	}

	.nav-list-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.list-item-link{
		font-size: 20px;
		text-align: center;
		width: 100%;
	}

	.hero__title {
		width: 100%;
		font-size: 20px;
	}
}

@media (max-width:420px) {
	.list-item-link{
		font-size: 18px;
		line-height: 17px;
	}

	.hero__title {
		font-size: 17px;
	}
}